<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- STYLES -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Covered+By+Your+Grace&family=Rock+Salt&display=swap" rel="stylesheet">

	<!-- SCRIPTS -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	<!-- External Scripts -->
	<script src="lib/jquery.ui.touch-punch.min.js"></script>
	
	<script src="lib/jquery.blockUI.js"></script>
	<script src="lib/jquery-contenteditable.min.js"></script>

	<!-- test -->
	<script src="lib/signature_pad.js"></script>
	<script src="lib/writingpad.js" ></script>

	<!-- Socket.IO -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
	
	
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- ** My Script ** -->
	<script src="script.js"></script>
	<title><%=locals.pageTitle %></title>
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<script>
$(document).ready(function(){
//  $('[data-toggle="tooltip"]').tooltip();   


$('body').tooltip({
     selector: '[data-toggle="tooltip"]',
		 placement: "top",
		 trigger: "hover",
     
     html: true
});

//$(document).tooltip({selector: '[data-toggle="tooltip"]'});

});
</script>

</head>

<body>